input{
    width: 150x;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 40px;
    background-color: white;
}

button{
    width: 150px;
    height: 50px;
    padding: 15px;
    border-radius: 40px ;
    font-size: 18px;
    background-color: white;
    color: black;
    
}